@charset "UTF-8";
$pc: 1024px; // PC
$tab: 780px; // タブレット
$sp: 480px; // スマホ
//色定義
$theme: #ea5315;
$content: #efe9de;
$pink: #ea3384;
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
  font-family: 'Noto sans JP';
}

.sp-only {
  display: none;
}

.pc-only {
  display: block;
}

.ta- {
  &c {
    text-align: center;
  }
  &l {
    text-align: left;
  }
  &r {
    text-align: right;
  }
}

hr {
  height: 1px;
  background-color: #707070;
  border: none;
  color: #707070;
}

@include sp() {
  .sp-only {
    display: block !important;
  }
  .pc-only {
    display: none !important;
  }
}

img {
  max-width: 100%;
  display: block;
  width: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@for $i from 10 through 60 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}

@font-face {
  font-family: 'Mobo Bold';
  src: url('./font/MOBO-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

.ff {
  &-mobo {
    font-family: 'Mobo Bold', 'Yu Gothic', '游ゴシック体', 'YuGothic', sans-serif;
    font-weight: bold;
  }
}

.m {
  &-a {
    margin: auto;
    &-r {
      margin-right: auto;
    }
    &-l {
      margin-left: auto;
    }
  }
}

.fw {
  &-b {
    font-weight: bold;
  }
  &-n {
    font-weight: normal;
  }
}

.bg {
  &-w {
    background: #fff;
  }
  &-theme {
    background: $theme;
  }
  &-content {
    background: $content;
    &-roundedtop {
      // background: url(../images/bg-rounded-top.svg)no-repeat, $content;
      // background-size: contain;
      background: $content;
    }
  }
  &-gray {
    background: #afafaf;
  }
}

.fc {
  &-w {
    color: #fff;
  }
  &-theme {
    color: $theme;
  }
  &-gray {
    color: #252525;
  }
  &-blue {
    color: #166df8;
  }
  &-pink {
    color: $pink;
  }
}

.d {
  &-b {
    display: block;
  }
}

.ly {
  &-100 {
    width: 100%;
  }
  &-90 {
    width: 90%;
  }
  &-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    &-body {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

body {
  background: $content;
}
main {
  padding-top: 70px;
}

.ly {
  &-content {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  &-header {
    height: 70px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    &::before {
      position: absolute;
      bottom: -5vw;
      left: 50%;
      margin-left: -50vw;
      content: '';
      width: 100vw;
      height: 5vw;
      display: block;
      background: url(./images/bg-rounded-top.svg) no-repeat top;
      background-size: 100% auto;
    }
  }
}

.tabelog {
  &-link {
    width: 80%;
    max-width: 100px;
  }
}

@for $i from 1 through 15 {
  .p {
    &-t {
      &-#{$i}0 {
        padding-top: #{$i * 10}px;
      }
    }
    &-b {
      &-#{$i}0 {
        padding-bottom: #{$i * 10}px;
      }
    }
    &-r {
      &-#{$i}0 {
        padding-right: #{$i * 10}px;
      }
    }
    &-l {
      &-#{$i}0 {
        padding-left: #{$i * 10}px;
      }
    }
  }
  .m {
    &-t {
      &-#{$i}0 {
        margin-top: #{$i * 10}px;
      }
    }
    &-b {
      &-#{$i}0 {
        margin-bottom: #{$i * 10}px;
      }
    }
    &-r {
      &-#{$i}0 {
        margin-right: #{$i * 10}px;
      }
    }
    &-l {
      &-#{$i}0 {
        margin-left: #{$i * 10}px;
      }
    }
  }
}

.t {
  &-d {
    &-u {
      text-decoration: underline;
    }
  }
}

.mt-8 {
  margin-top: 8px;
}

.bl {
  //header
  &-header {
    z-index: 1;
    background: #fff;
    height: 70px;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &-body {
      background: #fff;
      position: relative;
      z-index: 1;
    }
    &-ui {
      .menu-close {
        display: none;
      }
    }
    &-menu {
      a,
      span,
      h3 {
        color: #fff;
      }
      .username,
      h3 {
        font-size: 24px;
        margin-bottom: 40px;
      }
      ul {
        li {
          a {
            display: block;
          }
          &:not(:last-child) {
            a {
              padding-bottom: 26px;
              border-bottom: 1px solid #fff;
            }
          }
          &:not(:first-child) {
            a {
              padding-top: 16px;
            }
          }
        }
      }
      &-body {
        background: $theme;
        padding: 40px 36px;
        position: absolute;
        z-index: 0;
        top: -100lvh;
        opacity: 0;
        transition: 0.3s;
        width: 100%;
        height: 100%;
      }
    }
  }
  //footer{
  &-footer {
    padding: 1em 0;
  }
  //content
  &-fv {
    &-image {
      height: 240px;
      width: 100%;
      display: block;
      position: relative;
      overflow: hidden;
      @include sp {
        height: 140px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-btn {
    display: block;
    max-width: 360px;
    width: 100%;
    padding: 16px 0;
    border-radius: 24px;
    line-height: 1em;
    span {
      font-size: 22px;
      letter-spacing: 0.3em;
    }
  }
  &-form {
    &-item {
      &-label {
        padding-bottom: 0.25em;
        display: flex;
        align-items: end;
        color: #252525;
        justify-content: space-between;
      }
      &-textarea,
      &-select,
      &-input {
        border: 1px solid #707070;
        border-radius: 6px;
        background: #fff;
        padding: 8px 16px;
        &#company {
          color: #707070;
          background: #ccc;
        }
      }
      &-select {
        position: relative;
        min-height: 40px;
        display: flex;
        align-items: center;
        select {
          width: 100%;
          height: 100%;
          padding-right: 24px;
          display: block;
        }
        span {
          position: absolute;
          pointer-events: none;
          right: 8px;
          top: 0;
          bottom: 0;
          margin: auto;
          display: flex;
          align-items: center;
        }
      }
      &-radio {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        gap: 10px;
        .check {
          width: 20px;
          height: 20px;
          border: 1px solid #707070;
          background: #fff;
          border-radius: 50%;
          position: relative;
        }
        input:checked + .check {
          &::after {
            width: 10px;
            height: 10px;
            display: block;
            content: '';
            position: absolute;
            background: #707070;
            border-radius: 50%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        .bl-form-item-label {
          padding-bottom: 0;
        }
        #credits {
          display: none;
          width: 100%;
          padding-left: 1em;
          .bl-form-item-radio {
            padding-left: 10px;
            padding-right: 10px;
          }
          #register-new-credit {
            display: none;
            width: 100%;
          }
          input:checked + .check + label + #register-new-credit {
            display: block;
          }
        }
        input:checked + .check + label + #credits {
          display: block;
        }
      }
      #securitycode {
        width: 124px;
      }
      #term {
        display: grid;
        grid-template-columns: 120px 120px;
        .term_of_use {
          height: 40px;
          border-radius: 6px;
          background: #fff;
          border: 1px solid #707070;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          position: relative;
          padding: 0 1em 0 1em;
          input {
            width: 100%;
          }
          span {
            position: absolute;
            right: 4px;
            margin: auto;
            pointer-events: none;
          }
        }
      }
    }
  }
  &-pager {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-button {
      width: 24px;
      height: 12px;
      position: relative;
      &::after {
        content: '';
        display: block;
        height: 12px;
        width: 12px;
        border-right: 2px solid #252525;
        border-top: 2px solid #252525;
      }
      &.prev {
        &::after {
          transform: rotate(45deg) scale(-1);
        }
      }
      &.next {
        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }
  &-card {
    border-radius: 15px;
    padding: 20px;
    &-thumb {
      overflow: hidden;
      border-radius: 16px;
      display: block;
      > img {
        width: 100%;
      }
      position: relative;
      &-ui {
        width: 12%;
        padding: 8px 24px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.7);
        position: absolute;
        right: 3%;
        bottom: 3%;
        @include sp {
          width: 16%;
          padding: 8px 12px;
        }
      }
    }
    &-body {
    }
    &-links {
      &-ul {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: wrap;
        gap: 10px;
        li {
          a {
            float: right;
          }
        }
      }
    }
    &-link {
      &-body {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    &-text {
      &-content {
        .recipe {
          &-name {
            i {
              display: inline-block;
              height: 1.5em;
              margin-left: 1em;
              position: relative;
              top: 0.25em;
              img {
                height: 100%;
              }
            }
          }
          &-prices {
            display: flex;
            align-items: baseline;
            justify-content: start;
            flex-wrap: wrap;
            gap: 10px;
            line-height: 1em;
          }
          &-price {
            letter-spacing: 0;
          }
          &-description {
            p {
              height: 42px;
              position: relative;
              overflow: hidden;
              &::after {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                content: '';
                display: block;
                background: linear-gradient(transparent, #fff);
              }
            }
            position: relative;
            &-toggle {
              position: absolute;
              transition: 0.3s;
              width: 100%;
              height: 24px;
              left: 0;
              right: 0;
              margin: auto;
              span {
                width: 8px;
                height: 8px;
                display: block;
                border: 2px solid #252525;
                transform: rotate(135deg);
                border-left: transparent;
                border-bottom: transparent;
                position: absolute;
                right: 14px;
              }
            }
          }
        }
      }
    }
    &-ui {
      &-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-order {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 100%;
      }
      &-quantity {
        width: 50%;
      }
      &-buy {
        width: 50%;
        .btn {
          line-height: 52px;
          width: 90%;
          border-radius: 16px;
        }
      }
      &-counter {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        justify-content: space-between;
        border: 1px solid #707070;
        border-radius: 12px;
        width: 90%;
        min-width: 140px;
        max-width: 160px;
        input {
          text-align: center;
          pointer-events: none;
        }
        .counter {
          &-body {
            display: grid;
            grid-template-columns: 18px 30px 18px;
            button {
              justify-content: center;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
  &-dialog {
    border: none;
    &::backdrop {
      background: #656565;
      opacity: 0.5;
    }
    &-body {
      background: #fff;
      border: none;
      padding: 40px 20px;
      width: calc(100% - 72px);
      margin: auto;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 15px;
      max-width: 600px;
      height: max-content;
      .close-btn {
        position: absolute;
        top: -20px;
        right: -20px;
      }
    }
    &-content {
      max-height: 80lvh;
      overflow: scroll;
      p {
        line-height: 180%;
      }
    }
  }
  &-term {
    &-item {
      display: flex;
      align-items: flex-start;
      justify-content: start;
      p {
        line-height: 180%;
      }
    }
  }
  &-history {
    &-item {
      .date {
        background: #ffb59a;
        padding: 4px 8px;
      }
      &.canceled {
        position: relative;
        &::before {
          content: '';
          width: 100%;
          height: 1px;
          background: #707070;
          position: absolute;
          top: -30px;
          left: 0;
        }
        .date {
          background: #afafaf;
          display: inline-block;
        }
      }
    }
  }
}

//ステータス管理
.status {
  &-description-show {
    .recipe-description {
      p {
        height: auto !important;
        &::after {
          display: none !important;
        }
      }
      button {
        span {
          transform: rotate(-45deg) !important;
        }
      }
    }
  }
  &-header-menu {
    &-show {
      #showHeaderMenuButton {
        display: none;
      }
      #closeHeaderMenuButton {
        display: block;
      }
      #headerMenu {
        .bl-header-menu-body {
          opacity: 1;
          top: 70px;
        }
      }
    }
  }
}
.lh-2 {
  line-height: 2em;
}
.ls-1 {
  letter-spacing: 0.25em;
}
